* {
	margin: 0;
	padding: 0;
} 

.fixed {
	position: fixed; 
	top: 0; 
	height: 70px; 
	z-index: 1;
	width: 100%;
}

.fixed .logo-image img {
    width: 120px;
    margin-top: 5px; 
    margin-left: 70px;
}

.fixed .navbar-nav>li>a {
	margin: 20px 0;
}

.fixed .container-fluid{
	background: #a56704;
	border-radius: 0;
	border: 0;
}

.background-image1 {
    background: url(../images/website.jpg) no-repeat; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    min-height: 100vh;
}

.navbar {
	background: transparent;
	border: 0;
	border-radius: 0;
}

.logo-image img{
	width: 170px;
	margin-top: 45px;
	margin-left: 70px;
}

.navbar-nav {
   	margin-right: 90px;
   	font-family: 'Open Sans', sans-serif; 
}

.navbar-nav>li{
    padding-right: 30px;	
}

.navbar-nav>li>a {
	margin: 70px 0;
	padding-right: 15px;
	font-size: 14px;
    font-weight: bold;
}

.navbar .navbar-nav>li>a {
    color: #f5f5f5;
    font-size: 14px;
    line-height: 20px;
}

.navbar .navbar-nav>li>a:hover {
    color: #fff;
    border-radius: 30px;
    background: transparent;
    font-size: 11px;
    border: 2px solid #fff;
}

.navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar {
	margin-bottom: 0;
}

.container > .navbar-header {
	margin-left: 0;
	margin-right: 0;
}

.navbar-toggle {
	margin-top: 55px;
	margin-right: 40px;
	background-color: #fff;
}

.tag-line hr {
	border: 1px solid #fff;
	width: 200px;
}

.tag-line {
	color: #fff;
	text-align: left;
	font-size: 35px;
	margin-left: 70px;
	position: absolute;
	left: 0;
	bottom: 100px;
	font-family: 'Open Sans', sans-serif;
}

.accommodation-container {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 70px;
}

h2 {
	text-align: center;
	font-size: 40px;
	text-transform: uppercase;
	margin-top: 70px;
	color: #6c4301;
	font-family: 'Montserrat', sans-serif;
}

h2:before,
h2:after {
	background-color: #a56704;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 15%;
    margin: 25px;
}

.para-class {
	width: 70%;
	text-align: center;
	font-size: 15px;
	margin-top: 30px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	color: #a56704;
	font-family: 'Open Sans', sans-serif;
} 

.flex-container {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
    justify-content: center;
	width: 800px;
	height: 540px;
	margin-right: auto;
	margin-left: auto;
}

.flex-item {
	width: 170px;
	height: 170px;
	margin: 20px 100px;
	color: #f5f5f5;
	border: 2px solid #a56704;
	text-align: center;
	border-radius: 50%;
}

.flex-item img {
	width: 80px;
	height: 100px;
	margin: 25px;
}

.p1 {
	color: #6c4301;
	padding-top: 50px;
	font-size: 19px;
	text-align: center;
}

.p2 {
	color: #a56704;
	padding-top: 30px;
	width: 170px;
}

.features-container {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.flex-container1 {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
	width: 750px;
	height: 650px;
	margin-right: auto;
	margin-left: auto;
	/*background-color: silver;*/
}

.flex-item1 {
	text-align: center;
}

.flex-item1 img {
	margin-top: 90px;
	margin-right: 90px;
	margin-left: 90px;
	margin-bottom: 15px;
}

div > .button_class {
	background-color: #6c4301;
	color: #fff;
	border-radius: 30px;
	font-size: 18px;
	font-weight: bold;
	padding: 5px 25px;
	margin-top: 100px;
}

.button-div{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

div > .button_class:hover {
	color: #fff;
}

.gallery-container {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

h2 {
	text-align: center;
	font-size: 35px;
	text-transform: uppercase;
	margin-top: 70px;
	color: #6c4301;
	font-family: 'Montserrat', sans-serif;
}

h2:before,
h2:after {
	background-color: #a56704;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 10%;
    margin: 25px;
}

.images-row img{
	width: 30%;
	margin-right: auto;
	margin-left: auto;
}

.end-container {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	margin-top: 60px;
	margin-bottom: 20px;
}

.end-rowClass {
	margin: 0;
}

.end-rowClass hr {
	border: 1px solid #eee;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

.left-container {
	padding: 0;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;
}

#social-accounts img {
	width: 38px;
	margin: 2px;
}

.right-container {
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

.contact-section > ul > li {
	list-style: none;
	display: inline;
	padding-right: 10px;
	font-size: 15px;
}

.contact-section > ul > li > a {
	color: #6c4301;
}

.contact-section {
	text-align: center;
}

.badge-container {
	margin: 0;
}

.tripadvisor-badge {
	margin-top: 50px;
	margin-left: 50px;
}

.badge-row img{
	display: inline;
}

.base-container {
	background-color: #eee;
}

.base-para {
	width: 70%;
	color: grey;
	margin-right: auto;
	margin-left: auto;
	padding: 15px 0;
	font-family: 'Open Sans', sans-serif;
}

.base-para > a {
	color: grey;
}

@media (min-width:768px) and (max-width: 992px) {
	.navbar-nav>li {
	    padding-right: 0;
	}

	.navbar .navbar-nav>li>a {
	    font-size: 13px;
	}

	.navbar .navbar-nav>li>a:hover {
	    font-size: 13px;
	}

	.navbar-nav {
		margin-right: 10px;
	}

	.tag-line hr {
		width: 150px;
	}

	.tag-line {
		font-size: 30px;
	}

	.left-container {
		text-align: center;
		font-size: 15px;
	}

	.tripadvisor-badge {
		margin-left: 100px;
		margin-top: 50px;
	}
	
	h2 {
		font-size: 36px;
	}

	h2:before,
	h2:after {
	    width: 11%;
	    margin: 16px;
	}
}

@media (max-width: 767px) {
	.navbar .navbar-nav>li>a {
	    color: white;
	    line-height: 0;
	}

	.navbar-nav>li>a {
	    margin: 40px 0;
	}

	.navbar-collapse .navbar-nav {
		background-color: #f5f5f5;
		margin: 0;
	}

	.navbar .navbar-nav>li>a {
	    color: #a56704;
	}

	.navbar .navbar-nav>li>a:hover {
	    background-color: #a56704;
	    color: #f5f5f5;
	    border-radius: 0;
	}

	.navbar-nav>li>a {
	    padding-top: 10px;
	    padding-bottom: 10px;
	}

	.accommodation-container {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		padding-top: 0px;
	}

	h2 {
		font-size: 21px;
	}

	h2:before,
	h2:after {
	    width: 8%;
	    margin: 6px;
	}

	.gallery-container {
		width: 80%;
	}

	.left-container {
		padding: 0;
		font-size: 14px;
		font-family: 'Open Sans', sans-serif;
		margin-bottom: 30px;
		text-align: center;
	}

	.tag-line hr {
		width: 120px;
	}

	.tag-line {
		font-size: 26px;
		margin-left: 30px;
	}

	.logo-image img{
		width: 140px;
		margin-left: 30px;
	}

	.para-class {
		font-size: 14px;
	}

	.navbar-right-bg {
		background:#f5f5f5;
	}
}

@media (max-width: 500px) {
	h2 {
		margin-bottom: 50px;
	}

	.tag-line hr {
		width: 100px;
	}

	.tag-line {
		font-size: 20px;
		margin-left: 30px;
	}
}

@media (max-width: 957px) {
	.contact-section {
		text-align: center;
	}

	.right-container {
		margin-bottom: 30px;
	}

	.contact-section > ul > li {
		display: block;
	}
}

@media (max-width: 768px) {
	.fixed {
		position: fixed; 
		top: 0; 
		height: 70px; 
		z-index: 1;
		width: 100%;
	}

	.fixed .logo-image img {
	    width: 120px;
	    margin-top: 5px; 
	    margin-left: 25px;
	    margin-bottom: 5px; 
	}

	.fixed .navbar-nav>li>a {
		margin: 20px 0;
	}

	.fixed .container-fluid{
		background: #a56704;
		border-radius: 0;
		border: 0;
	}

	.fixed .navbar-toggle {
		margin-top: 10px;
		margin-right: 25px;
		margin-bottom: 10px;
		padding-top: 10px;
	}
}

@media (max-width: 814px)  {
	.flex-container {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
    	flex-wrap: wrap;
		width: 300px;
		height: 1120px;
	}
}

@media screen and (min-width: 320px) and (max-width:384px ) {
	.background-image1{
		background: url(../images/lumia.jpg) no-repeat;
  	}    
}

@media screen and (min-width: 412px) and (max-width:480px ) {
	.background-image1{
		background: url(../images/galaxynote4.jpg) no-repeat;
  	}    
}

@media screen and (min-width:500px) and (max-width:800px ) {
	.background-image1{
		background: url(../images/galaxytab.jpg) no-repeat;
  	}
}