* {
	margin: 0;
	padding: 0;
}

.fixed {
	position: fixed; 
	top: 0; 
	height: 70px; 
	z-index: 1;
	width: 100%;
}

.fixed .logo-image img {
    width: 120px;
    margin-top: 5px; 
    margin-left: 70px;
}

.fixed .navbar-nav>li>a {
	margin: 20px 0;
}

.fixed .container-fluid{
	background: #a56704;
	border-radius: 0;
	border: 0;
}

.background-image1 {
    background: url(../newimages/food.png) no-repeat; 
    /*-webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
 */   /*min-height: 100vh;*/
    max-width: 100%;
/*background-repeat: no-repeat;*/
    background-size: cover;
      height:100vh;
*/
}

.navbar {
	background: transparent;
	border: 0;
}

.logo-image img{
	width: 170px;
	margin-top: 45px;
	margin-left: 70px;
}

.navbar-nav {
   	margin-right: 0px;
   	font-family: 'Open Sans', sans-serif; 
}

.navbar-nav>li{
    padding-right: 30px;	
}

.navbar-nav>li>a {
	margin: 70px 0;
	padding-right: 15px;
	font-size: 14px;
}

.navbar .navbar-nav>li>a {
    color: white;
    font-size: 14px;
    line-height: 20px;
}

.navbar .navbar-nav>li>a:hover {
    color: #6c4301;
    border-radius: 30px;
    background-color: #fff;
    font-size: 14px;
}

.navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar {
	margin-bottom: 0;
}

.container > .navbar-header {
	margin-left: 0;
	margin-right: 0;
}

.navbar-toggle {
	margin-top: 55px;
	margin-right: 40px;
	background-color: #fff;
}

.tag-line hr {
	border: 1px solid #fff;
	width: 200px;
}

.tag-line {
	color: #fff;
	text-align: left;
	/*padding-top: 200px;*/
	font-size: 35px;
	margin-left: 70px;
	position: absolute;
	left: 0;
	bottom: 50px;
	font-family: 'Open Sans', sans-serif;
}

.dining-container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

h2 {
	text-align: center;
	font-size: 40px;
	text-transform: uppercase;
	margin-top: 70px;
	color: #6c4301;
	font-family: 'Montserrat', sans-serif;
}

h2:before,
h2:after {
	background-color: #a56704;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 15%;
    margin: 30px;
}

.para-class {
	width: 70%;
	text-align: center;
	font-size: 15px;
	margin-top: 30px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	color: #a56704;
	font-family: 'Open Sans', sans-serif;
}

.logo-container {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.logo-name {
	width: 100%;
	height: 170px;

	/*border: 2px solid #6c4315;*/
	/*border-radius: 50%;*/
	/*color: #a56704;*/
	/*margin-left: auto;*/
	/*margin-right: auto;*/
	/*text-align: center;*/
	/*padding-top: 75px;*/
	margin-top: 50px;
}

.content-class {
	margin-top: 50px;
	color: #a56704;
	text-align: center;
}

.img-responsive {
	width: 60%;
}

.image-row {
	width: 100%; 
	border-radius: 50%;
}

.gallery-container {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.image-row1 img{
	margin-bottom: 5px;
	float: left; 
	display: inline;
	width: 20%; 
	padding: 5px;
	margin-top: 50px;
}

.image-row2 img{
	float: right; 
	display: inline;
	width: 20%; 
	padding: 5px;
	margin-bottom: 80px;
}
/*figure {
	width: 300px;
	height: 200px;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}
figure:hover+span {
	bottom: -36px;
	opacity: 1;
}*/

/*/* Zoom In #1 */
.hover01{
	position: relative;
	background-color: white;
}
.hover01 img:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}


h3 {
	text-align: center;
	font-size: 40px;
	text-transform: uppercase;
	margin-top: 70px;
	color: #6c4301;
	font-family: 'Montserrat', sans-serif;
}

h3:before,
h3:after {
	background-color: #a56704;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 15%;
    margin: 30px;
}

.end-container {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	margin-top: 60px;
	margin-bottom: 20px;
}

.end-rowClass {
	margin: 0;
}

.end-rowClass hr {
	border: 1px solid #eee;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

.left-container {
	padding: 0;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;
}

#social-accounts img {
	width: 38px;
	margin: 2px;
}

.right-container {
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

.contact-section > ul > li {
	list-style: none;
	display: inline;
	padding-right: 10px;
	font-size: 15px;
}

.contact-section > ul > li > a {
	color: #6c4301;
}

.contact-section {
	text-align: center;
}

.badge-container {
	margin: 0;
}

.tripadvisor-badge {
	margin-top: 50px;
	margin-left: 50px;
}

.badge-row img{
	display: inline; 
}

.base-container {
	background-color: #eee;
	/*width: 100%;*/
}

.base-para {
	width: 70%;
	color: grey;
	margin-right: auto;
	margin-left: auto;
	padding: 15px 0;
	font-family: 'Open Sans', sans-serif;
}

.base-para > a {
	color: grey;
}

@media (min-width: 768px) and (max-width: 992px) {
	.navbar-nav>li {
	    padding-right: 0;
	}

	.navbar .navbar-nav>li>a {
	    font-size: 11px;
	}

	.navbar .navbar-nav>li>a:hover {
	    font-size: 11px;
	}

	.tag-line hr {
		width: 150px;
	}

	.tag-line {
		font-size: 32px;
	}

	.left-container {
		text-align: center;
		font-size: 15px;
	}

	.tripadvisor-badge {
		margin-left: 100px;
		margin-top: 50px;
	}

	.logo-container {
		width: 90%;
	}

	.para-class {
		width: 90%;
	}
}

@media (max-width: 767px) {
	.navbar .navbar-nav>li>a {
	    color: white;
	    line-height: 0;
	}

	.navbar-nav>li>a {
	    margin: 40px 0;
	}

	.navbar-collapse .navbar-nav {
		background-color: #f5f5f5;
		margin: 0;
	}

	.navbar .navbar-nav>li>a {
	    color: #a56704;
	}

	.navbar .navbar-nav>li>a:hover {
	    background-color: #a56704;
	    color: #f5f5f5;
	    border-radius: 0;
	}

	.navbar-nav>li>a {
	    padding-top: 10px;
	    padding-bottom: 10px;
	}		

	h2 {
		font-size: 30px;
	}

	h2:before,
	h2:after {
	    width: 12%;
	    margin: 10px;
	}

	.gallery-container {
		width: 80%;
	}

	h3 {
		font-size: 28px;
	}

	h3:before,
	h3:after {
	    width: 10%;
	    margin: 10px;
	}

	.left-container {
		padding: 0;
		font-size: 14px;
		font-family: 'Open Sans', sans-serif;
		margin-bottom: 30px;
		text-align: center;
	}

	.tag-line hr {
		width: 120px;
	}

	.tag-line {
		font-size: 26px;
		/*padding-top: 250px;*/
		margin-left: 30px;
	}

	.logo-image img{
		width: 140px;
		margin-left: 30px;
	}

	.para-class {
		font-size: 14px;
	}

	.navbar-right-bg {
		background:#f5f5f5;
	}
}

@media (max-width: 500px) {
	.image-row1 img{
		margin-bottom: 0;
		width: 50%; 
		margin-top: 0;
	}

	.image-row2 img{
		width: 50%; 
		margin-bottom: 0;
	}

	h2 {
		margin-bottom: 50px;
	}

	h3 {
		margin-bottom: 50px;
	}
}

@media (max-width: 957px) {
	.contact-section {
		text-align: center;
	}

	.right-container {
		margin-bottom: 30px;
	}

	.contact-section > ul > li {
		display: block;
	}
}

@media (max-width: 768px) {
	.fixed {
		position: fixed; 
		top: 0; 
		height: 70px; 
		z-index: 1;
		width: 100%;
	}

	.fixed .logo-image img {
	    width: 120px;
	    margin-top: 5px; 
	    margin-left: 25px;
	    margin-bottom: 5px; 
	}

	.fixed .navbar-nav>li>a {
		margin: 20px 0;
	}

	.fixed .container-fluid{
		background: #a56704;
		border-radius: 0;
		border: 0;
	}

	.fixed .navbar-toggle {
		margin-top: 10px;
		margin-right: 25px;
		margin-bottom: 10px;
		padding-top: 10px;

	}
}
@media  only screen  and (max-width:384px ) {

	.background-image1{
		background: url('../ResDining/lumia.jpg') no-repeat;
		max-width: 100%;
/*background-repeat: no-repeat;*/
       background-size: cover;
      height:100vh;
  	}
    
}
@media screen and (min-width: 412px) and (max-width:480px ) {

	.background-image1{
		background: url('../ResDining/galaxynote4.jpg') no-repeat;
		max-width: 100%;
/*background-repeat: no-repeat;*/
       background-size: cover;
      height:100vh;
  	}
    
}

@media screen and (min-width:533px) and (max-width:800px ) {

	.background-image1{
		background: url('../ResDining/galaxytab.jpg') no-repeat;
		max-width: 100%;
/*background-repeat: no-repeat;*/
       background-size: cover;
      height:100vh;
  	}
    
}


/*css added by dipesh*/
	.item div{
		/*border: 2px solid black;*/
		width: 175px;
		height: 170px;
		background-color: #fff;
		overflow: hidden;
	}

	.item div img{
		width: 100%;
		height: 100%;
	}

	#myGallery img:hover{
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
	}
	.mt-8{
		margin-top: 8px;
	}

	.mb-10{
		margin-bottom: 10px;
	}


/*css added by dipesh*/
