* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif; 
}

.background-image1 {
    background: url(../images/abdullah-oguk-256739.jpg) no-repeat; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    min-height: 100vh;
} 

.top-navbar {
	background: transparent;
	border: 0;
}

.logo-image img{
	width: 170px;
	margin-top: 45px;
	margin-left: 70px;
}

.top-nav {
   	margin-right: 70px;
   	font-family: 'Open Sans', sans-serif; 
}

.top-nav>li{
    padding-right: 30px;	
}

.top-nav>li>a {
	margin: 60px 0;
	padding-right: 15px;
	font-size: 14px;
}

.top-navbar .top-nav>li>a {
    color: white;
    font-size: 14px;
    line-height: 20px;
}

.top-navbar .top-nav>li>a:hover {
    color: #6c4301;
    border-radius: 30px;
    background-color: #fff;
    font-size: 14px;
}

.top-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
}

.top-navbar {
	margin-bottom: 0;
}

.container > .navbar-header {
	margin-left: 0;
	margin-right: 0;
}

.navbar-toggle {
	margin-top: 55px;
	margin-right: 40px;
	background-color: #fff;
}

.flex-container {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
    justify-content: center;
	width: 750px;
	height: 400px;
	background: transparent;
	margin-right: auto;
	margin-left: auto;
	margin-top: -20px;
}

.flex-item {
	width: 240px;
	height: 360px;
	margin: 20px;
	border: 2px solid #fff;
	border-radius: 6%;
	color: #f5f5f5;
	padding: 2px;
	text-align: center;
}

h5 {
	padding-top: 25px;
	text-align: center; 
	/*font-size: 15px;*/
	color: #fff;
}

hr {
	width: 10%;
	margin-right: auto;
	margin-left: auto;
}

div > .button_class {
	background-color: #fff;
	color: #000;
	border-radius: 30px;
	font-size: 18px;
	padding: 5px 25px;
	margin-top: 10px;
	margin-bottom: 30px;
}

.button-div{
    text-align: center;
}

.para{
	color: #fff;
	font-size: 13px;
	text-align: center;
}

.para2{
	color: #fff;
	font-size: 11px;
	text-align: center;
	padding-top: 7px;
}

div > .button-class {
	background-color: #fff;
	color: #6c4301;
	border-radius: 30px;
	font-size: 18px;
	padding: 5px 25px;
	margin-top: 7px;
	margin-bottom: 25px;
}

.button-class a {
	color: #6c4301;
}

@media (min-width:768px) and (max-width: 992px) {
	.top-nav>li {
	    padding-right: 0;
	}

	.top-navbar .top-nav>li>a {
	    font-size: 11px;
	}

	.top-navbar .top-nav>li>a:hover {
	    font-size: 11px;
	}
}

@media (max-width:767px) {
	.top-navbar .top-nav>li>a {
	    color: white;
	    line-height: 0;
	}

	.top-nav>li>a {
	    margin: 40px 0;
	}

	.navbar-collapse .top-nav {
		background-color: #f5f5f5;
		margin: 0;
	}

	.top-navbar .top-nav>li>a {
	    color: #a56704;
	}

	.top-navbar .top-nav>li>a:hover {
	    background-color: #a56704;
	    color: #f5f5f5;
	    border-radius: 0;
	}

	.top-nav>li>a {
	    padding-top: 10px;
	    padding-bottom: 10px;
	}

	.logo-image img{
		width: 140px;
		margin-left: 30px;
	}

	.navbar-toggle {
		margin-right: 30px;
		margin-top: 50px;
	}

	.flex-container {
		display: -webkit-flex;
    	display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
		width: 600px;
		height: 800px;
		margin-top: 40px;
	}

	.flex-item {
		width: 240px;
		height: 360px;
		margin: 20px;
		border: 2px solid #fff;
		border-radius: 6%;
		color: #f5f5f5;
		padding: 2px;
		text-align: center;
	}
}

@media (max-width:600px) {
	.flex-container {
		display: -webkit-flex;
    	display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
		width: 300px;
		height: 1200px;
		margin-top: 40px;
	}

	.flex-item {
		width: 220px;
		height: 360px;
		margin: 20px;
		border: 2px solid #fff;
		border-radius: 6%;
		color: #f5f5f5;
		padding: 2px;
		text-align: center;
	}
}

@media (max-width: 767px) {
	.navbar-right-bg {
		background:#f5f5f5;
	}
}		