* {
	margin: 0;
	padding: 0;
}

.fixed {
	position: fixed; 
	top: 0; 
	height: 70px; 
	z-index: 1;
	width: 100%;
}

.fixed .logo-image img {
    width: 120px;
    margin-top: 5px; 
    margin-left: 70px;
}

.fixed .navbar-nav>li>a {
	margin: 20px 0;
}

.fixed .container-fluid{
	background: #a56704;
	border-radius: 0;
	border: 0;
}

.background-image1 {
    background: url(../images/websiteplan.jpg) no-repeat; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    min-height: 100vh;
}

.top-navbar {
	background: transparent;
	border: 0;
	font-family: 'Open Sans', sans-serif;
}

.logo-image img{
	width: 170px;
	margin-top: 45px;
	margin-left: 70px;
}

.top-nav {
   	margin-right: 0px; 
   	font-family: 'Open Sans', sans-serif;
}

.top-nav>li{
    padding-right: 30px;	
}

.top-nav>li>a {
	margin: 70px 0;
	padding-right: 15px;
	font-size: 14px;
}

.top-navbar .top-nav>li>a {
    color: white;
    font-size: 14px;
     line-height: 20px;
}

.top-navbar .top-nav>li>a:hover {
    color: #6c4301;
    border-radius: 30px;
    background-color: #fff;
    font-size: 14px;
}

.top-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
}

.top-navbar {
	margin-bottom: 0;
}

.container > .navbar-header {
	margin-left: 0;
	margin-right: 0;
}

.navbar-toggle {
	margin-top: 55px;
	margin-right: 40px;
	background-color: #fff;
}

.tag-line hr {
	border: 1px solid #fff;
	width: 200px;
}

.tag-line {
	color: #fff;
	text-align: left;
	/*padding-top: 200px;*/
	font-size: 35px;
	margin-left: 70px;
	position: absolute;
	left: 0;
	bottom: 50px;
	font-family: 'Open Sans', sans-serif;
}

.banquets-container {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

h2 {
	text-align: center;
	font-size: 40px;
	text-transform: uppercase;
	margin-top: 70px;
	color: #6c4301;
	font-family: 'Montserrat', sans-serif;
}

h2:before,
h2:after {
	background-color: #a56704;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 15%;
    margin: 30px;
}

.para-class {
	width: 100%;
	text-align: center;
	font-size: 15px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	color: #a56704;
	font-family: 'Open Sans', sans-serif;
} 

.flex-container {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
    justify-content: center;
	width: 700px;
	height: 200px;
	margin-right: auto;
	margin-left: auto;
}

.flex-item {
	width: 140px;
	height: 140px;
	margin: 30px;
	border-radius: 50%;
	color: #f5f5f5;
}

.flex-item > p{
	color: #a56704;
	margin-top: 30px;
	font-size: 18px;
	text-align: center;
} 

.image1 {
	width: 140px;
	width: 140px;
	border-radius: 50%;
	border: 2px solid #a56704;
}

.image2 {
	width: 140px;
	width: 140px;
	border-radius: 50%;
	border: 2px solid #a56704;
}

.image3 {
	width: 140px;
	width: 140px;
	border-radius: 50%;
	border: 2px solid #a56704;
}

.flex-item:hover {
	font-weight: bold;
}

.img-responsive {
	width: 60%;
}

.image-row {
	width: 100%; 
	border-radius: 50%;
}

div > .button_class {
	background-color: #6c4301;
	color: #fff;
	border-radius: 30px;
	font-size: 14px;
	padding: 5px 25px;
	margin-top: 80px;
}

.button-div{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

div > .button_class:hover {
	color: #fff;
}

.gallery-container {
	display: block;
	margin: auto;
	width: 80%;

}

.gallery-image img{
	margin: auto;
	margin-bottom: 5px;
	margin-left: 5%;
	float: left; 
	display: inline; 
	padding: 5px;
}
.gallery-image {
  position: relative;
  margin: 2%;
  
}
.gallery-image .zoomtint
{
	position: relative;
	width:100%;
	height: 100%;
	opacity:0.5;
	

}

.gallery-image img {
  max-width: 25%;
  max-height: 25%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.gallery-image:hover .zoomtint
{ opacity: 0.9;
	}
.gallery-image:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);

}


h2 {
	text-align: center;
	font-size: 40px;
	text-transform: uppercase;
	margin-top: 100px;
	color: #6c4301;
	font-family: 'Montserrat', sans-serif;
}

h2:before,
h2:after {
	background-color: #a56704;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 15%;
    margin: 30px;
}

.end-container {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	/*background-color: red;*/
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	margin-top: 60px;
	margin-bottom: 20px;
}

.end-rowClass {
	margin: 0;
}

.end-rowClass hr {
	border: 1px solid #eee;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

.left-container {
	padding: 0;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;
}

#social-accounts img {
	width: 38px;
	margin: 2px;
}

.right-container {
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

.contact-section > ul > li {
	list-style: none;
	display: inline;
	padding-right: 10px;
	font-size: 15px;
}

.contact-section > ul > li > a {
	color: #6c4301;
}

.contact-section {
	text-align: center;
}

.badge-container {
	margin: 0;
}

.tripadvisor-badge {
	margin-top: 50px;
	margin-left: 50px;
}

.badge-row img{
	display: inline;
	width: 35%;
	margin: 25px; 
}

.base-container {
	background-color: #eee;
}

.base-para {
	width: 70%;
	color: grey;
	margin-right: auto;
	margin-left: auto;
	padding: 15px 0;
	font-family: 'Open Sans', sans-serif;
}

.base-para > a {
	color: grey;
}

@media (min-width: 768px) and (max-width: 992px) {
	.top-nav>li {
	    padding-right: 0;
	}

	.top-navbar .top-nav>li>a {
	    font-size: 11px;
	}

	.top-navbar .top-nav>li>a:hover {
	    font-size: 11px;
	}

	.tag-line hr {
		width: 150px;
	}

	.tag-line {
		font-size: 32px;
	}

	.left-container {
		text-align: center;
		font-size: 15px;
	}

	.tripadvisor-badge {
		margin-left: 100px;
		margin-top: 50px;
	}

	.banquets-container {
		width: 90%;
	}

	.para-class {
		width: 80%;
	}
}

@media (max-width: 767px) {
	.top-navbar .top-nav>li>a {
	    color: white;
	    line-height: 0;
	}

	.top-nav>li>a {
	    margin: 40px 0;
	}

	.navbar-collapse .top-nav {
		background-color: #f5f5f5;
		margin: 0;
	}

	.top-navbar .top-nav>li>a {
	    color: #a56704;
	}

	.top-navbar .top-nav>li>a:hover {
	    background-color: #a56704;
	    color: #f5f5f5;
	    border-radius: 0;
	}

	.top-nav>li>a {
	    padding-top: 10px;
	    padding-bottom: 10px;
	}		

	h2 {
		font-size: 21px;
	}

	h2:before,
	h2:after {
	    width: 12%;
	    margin: 10px;
	}

	.left-container {
		padding: 0;
		font-size: 14px;
		font-family: 'Open Sans', sans-serif;
		margin-bottom: 30px;
		text-align: center;
	}

	.tag-line hr {
		width: 120px;
	}

	.tag-line {
		font-size: 26px;
		/*padding-top: 250px;*/
		margin-left: 30px;
	}

	.logo-image img{
		width: 140px;
		margin-left: 30px;
	}

	.navbar-right-bg {
		background:#f5f5f5;
	}

	.para-class {
		font-size: 14px;
	}

	.gallery-container {
		width: 80%;
	}
}

@media (max-width: 500px) {
	.image-row1 img{
		margin-bottom: 0;
		width: 50%; 
		margin-top: 0;
	}

	.image-row2 img{
		width: 50%; 
		margin-bottom: 0;
	}

	h2 {
		margin-bottom: 50px;
	}
}

@media (max-width: 768px) {
	.flex-container {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
	    flex-wrap: wrap;
		width: 200px;
		height: 700px;
	}

	.flex-item {
		width: 140px;
		height: 140px;
	}

	.flex-item > p{
		margin-bottom: 30px;
		text-align: center;
	}
}

@media (max-width: 957px) {
	.contact-section {
		text-align: center;
	}

	.right-container {
		margin-bottom: 30px;
	}

	.contact-section > ul > li {
		display: block;
	}
}

@media (max-width: 768px) {
	.fixed {
		position: fixed; 
		top: 0; 
		height: 70px; 
		z-index: 1;
		width: 100%;
	}

	.fixed .logo-image img {
	    width: 120px;
	    margin-top: 5px; 
	    margin-left: 25px;
	    margin-bottom: 5px; 
	}

	.fixed .navbar-nav>li>a {
		margin: 20px 0;
	}

	.fixed .container-fluid{
		background: #a56704;
		border-radius: 0;
		border: 0;
	}

	.fixed .navbar-toggle {
		margin-top: 10px;
		margin-right: 25px;
		margin-bottom: 10px;
		padding-top: 10px;

	}
}