* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 1000px !important;
}

.fixed {
	position: fixed; 
	top: 0; 
	height: 70px; 
	z-index: 1;
	width: 100%;
}

.fixed .logo-image img {
    width: 120px;
    margin-top: 5px; 
    margin-left: 70px;
}

.fixed .navbar-nav>li>a {
	margin: 20px 0;
}

.fixed .container-fluid{
	background: #a56704;
	border-radius: 0;
	border: 0;
}

.navbar {
	background: transparent;
	border: 0;
}

.logo-image img{
	width: 170px;
	margin-top: 45px;
	margin-left: 70px;
}

.navbar-nav {
   	margin-right: 100px;
   	font-family: 'Open Sans', sans-serif; 
}

.navbar-nav>li{
    padding-right: 20px;	
}

.navbar-nav>li>a {
	margin: 70px 0;
	padding-right: 15px;
	font-size: 14px;
}

.navbar .navbar-nav>li>a {
    color: #6c4301;
    font-size: 14px;
    line-height: 20px;
}

.navbar .navbar-nav>li>a:hover {
    color: #fff;
    border-radius: 30px;
    background-color: #a56704;
    font-size: 14px;
}

.navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar {
	margin-bottom: 0;
}

.container > .navbar-header {
	margin-left: 0;
	margin-right: 0;
}

.navbar-toggle {
	margin-top: 55px;
	margin-right: 40px;
	background-color: #fff;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
.color-violet .container-button {
  background-color: #98f;
}
.color-violet .container-button:before {
  background-color: #98f;
}
.color-violet .w-item span {
  color: #98f;
}

.color-green .container-button {
  background-color: #1bbc9d;
}
.color-green .container-button:before {
  background-color: #1bbc9d;
}
.color-green .w-item span {
  color: #1bbc9d;
}

.color-red .container-button {
  background-color: #DB343A;
}
.color-red .container-button:before {
  background-color: #DB343A;
}
.color-red .w-item span {
  color: #DB343A;
}

.color-pink .container-button {
  background-color: #E91E63;
}
.color-pink .container-button:before {
  background-color: #E91E63;
}
.color-pink .w-item span {
  color: #E91E63;
}

.color-blue .container-button {
  background-color: #3498db;
}
.color-blue .container-button:before {
  background-color: #3498db;
}
.color-blue .w-item span {
  color: #3498db;
}

body {
  height: 100vh;
  overflow: hidden;
  background-color: #D4D9ED;
  font-family: "Roboto", sans-serif;
}

.w-table {
  display: table;
  width: 100%;
  height: 100%;
}

.w-table-cell {
  display: table-cell;
  vertical-align: middle;
}

.w-container {
  position: relative;
  max-width: 100%;
  margin: 30px auto 0;
  font-size: 0;
  text-align: center;
}
.w-container .w-card {
  cursor: pointer;
  background-color: #fff;
  display: inline-block;
  vertical-align: top;
  width: 300px;
  color: #333;
  font-size: 30px;
  font-weight: 300;
  margin: 0 0 30px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.w-container .w-card .card-header {
  overflow: hidden;
  padding: 20px 0 0;
}
.w-container .w-card .card-header .w-title, .w-container .w-card .card-header .w-price {
  position: relative;
  z-index: 2;
}
.w-container .w-card .card-header .w-price {
  font-size: 42px;
  font-weight: 500;
  padding: 1px 20px 20px;
}
.w-container .w-card .card-content {
  padding: 20px;
}
.w-container .w-card .card-content .w-item {
  font-size: 20px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.w-container .w-card .card-content .w-item:last-child {
  border-bottom: none;
}
.w-container .w-card .card-content .w-item span {
  /*font-weight: 500;*/
}
.w-container .w-card .container-button {
  position: relative;
}
.w-container .w-card .container-button .w-button {
  position: relative;
  display: block;
  padding: 20px;
  color: #fff;
  font-weight: 400;
  z-index: 2;
  text-decoration: none;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.w-container .w-card .container-button:before, .w-container .w-card .container-button:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 50%;
  width: 0%;
  height: 0%;
  border-radius: 50%;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.w-container .w-card .container-button:after {
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1);
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.w-container .w-card .container-button:hover .w-button {
  padding: 0px 20px 40px;
}
.w-container .w-card .container-button:hover:before {
  top: -200px;
  left: -50px;
  width: 400px;
  height: 400px;
}
.w-container .w-card .container-button:hover:after {
  top: -200px;
  left: -50px;
  width: 400px;
  height: 400px;
}
.w-container .w-card:hover {
  z-index: 2;
  margin: -20px 0 50px;
}
.w-container .w-card:hover .w-button {
  opacity: 1;
}

.coaching-container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

h2 {
	text-align: center;
	font-size: 40px;
	text-transform: uppercase;
	margin-top: 70px;
	color: #6c4301;
	font-family: 'Montserrat', sans-serif;
}

h2:before,
h2:after {
	background-color: #a56704;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 15%;
    margin: 30px;
}

.sports-container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}