* {
	margin: 0;
	padding: 0;
}

.fixed {
	position: fixed; 
	top: 0; 
	height: 70px; 
	z-index: 1;
	width: 100%;
}

.fixed .logo-image img {
    width: 120px;
    margin-top: 5px; 
    margin-left: 70px;
}

.fixed .navbar-nav>li>a {
	margin: 20px 0;
}

.fixed .container-fluid{
	background: #a56704;
	border-radius: 0;
	border: 0;
}

.background-image1 {
    background: url(../newimages/ShootingRange.jpg) no-repeat; 
   /* -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
   */
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
      height:100vh;
} 

.top-navbar {
	background: transparent;
	border: 0;
}

.logo-image img{
	width: 170px;
	margin-top: 45px;
	margin-left: 70px;
}

.top-nav {
   	margin-right: 0px;
   	font-family: 'Open Sans', sans-serif; 
}

.top-nav>li{
    padding-right: 30px;	
}

.top-nav>li>a {
	margin: 70px 0;
	padding-right: 15px;
	font-size: 14px;
}

.top-navbar .top-nav>li>a {
    color: white;
    font-size: 14px;
    line-height: 20px;
}

.top-navbar .top-nav>li>a:hover {
    color: #6c4301;
    border-radius: 30px;
    background-color: #fff;
    font-size: 14px;
}

.top-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
}

.top-navbar {
	margin-bottom: 0;
}

.container > .navbar-header {
	margin-left: 0;
	margin-right: 0;
}

.navbar-toggle {
	margin-top: 55px;
	margin-right: 40px;
	background-color: #fff;
}

.tag-line hr {
	border: 1px solid #fff;
	width: 200px;
}

.tag-line {
	color: #fff;
	text-align: left;
	/*padding-top: 200px;*/
	position: absolute;
	left: 0;
	bottom: 50px;
	font-size: 35px;
	margin-left: 70px;
	font-family: 'Open Sans', sans-serif;
}

.sports-container {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

h2 {
	text-align: center;
	font-size: 40px;
	text-transform: uppercase;
	margin-top: 70px;
	color: #6c4301;
	font-family: 'Montserrat', sans-serif;
}

h2:before,
h2:after {
	background-color: #a56704;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 15%;
    margin: 26px;
}

.para-class {
	width: 100%;
	text-align: center;
	font-size: 15px;
	margin-top: 30px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	color: #a56704;
	font-family: 'Open Sans', sans-serif;
} 

.image-row1 img{
	margin-bottom: 5px;
	float: left; 
	display: inline;
	width: 20%; 
	padding: 5px;
}


/* Circle hover effect*/
.hover15 div {
	position: relative;
}
.hover15 div{
	overflow: hidden;	
}
.hover15 div::before {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: block;
	content: '';
	width: 0;
	height: 0;
	background: rgba(255,255,255,.2);
	border-radius: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}
.hover15 div:hover::before {
	-webkit-animation: circle .75s;
	animation: circle .75s;
}

@-webkit-keyframes circle {
	0% {
		opacity:1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 100%;
		height: 100%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 150%;
		height: 150%;
		opacity: 1;

	}
}

.image-row2 img{
	float: right; 
	display: inline;
	width: 20%; 
	padding: 5px;
	margin-bottom: 30px;
}

.gallery-container {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

h3 {
	text-align: center;
	font-size: 40px;
	text-transform: uppercase;
	margin-top: 50px;
	color: #6c4301;
	font-family: 'Montserrat', sans-serif;
}

h3:before,
h3:after {
	background-color: #a56704;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 15%;
    margin: 30px;
}

.image-row3 img{
	margin-bottom: 5px;
	float: left; 
	display: inline;
	width: 20%; 
	padding: 5px;
	margin-top: 30px;
}
/*/* Zoom In #1 */
.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.image-row4 img{
	float: right; 
	display: inline;
	width: 20%; 
	padding: 5px;
	margin-bottom: 30px;
}

.end-container {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	margin-top: 60px;
	margin-bottom: 20px;
}

.end-rowClass {
	margin: 0;
}

.end-rowClass hr {
	border: 1px solid #eee;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

.left-container {
	padding: 0;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;
}

#social-accounts img {
	width: 38px;
	margin: 2px;
}

.right-container {
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

.contact-section > ul > li {
	list-style: none;
	display: inline;
	padding-right: 10px;
	font-size: 15px;
}

.contact-section > ul > li > a {
	color: #6c4301;
}

.contact-section {
	text-align: center;
}

.badge-container {
	margin: 0;
}

.tripadvisor-badge {
	margin-top: 50px;
	margin-left: 50px;
}

.badge-row img{
	display: inline;
}

.base-container {
	background-color: #eee;
}

.base-para {
	width: 70%;
	color: grey;
	margin-right: auto;
	margin-left: auto;
	padding: 15px 0;
	font-family: 'Open Sans', sans-serif;
}

.base-para > a {
	color: grey;
}

@media (min-width: 768px) and (max-width: 992px) {
	.top-nav>li {
	    padding-right: 0;
	}

	.top-navbar .top-nav>li>a {
	    font-size: 11px;
	}

	.top-navbar .top-nav>li>a:hover {
	    font-size: 11px;
	}

	h2 {
		font-size: 33px;
	}

	h2:before,
	h2:after {
	    width: 13%;
	    margin: 20px;
	}

	h3 {
		font-size: 33px;
	}

	h3:before,
	h3:after {
	    width: 15%;
	    margin: 20px;
	}

	.tag-line hr {
		width: 150px;
	}

	.tag-line {
		font-size: 32px;
	}

	.left-container {
		text-align: center;
		font-size: 15px;
	}

	.tripadvisor-badge {
		margin-left: 100px;
		margin-top: 50px;
	}
}

@media (max-width:767px) {
	.top-navbar .top-nav>li>a {
	    color: white;
	    line-height: 0;
	}

	.top-nav>li>a {
	    margin: 40px 0;
	}

	.navbar-collapse .top-nav {
		background-color: #f5f5f5;
		margin: 0;
	}

	.top-navbar .top-nav>li>a {
	    color: #a56704;
	}

	.top-navbar .top-nav>li>a:hover {
	    background-color: #a56704;
	    color: #f5f5f5;
	    border-radius: 0;
	}

	.top-nav>li>a {
	    padding-top: 10px;
	    padding-bottom: 10px;
	}

	.left-container {
		padding: 0;
		font-size: 14px;
		font-family: 'Open Sans', sans-serif;
		margin-bottom: 30px;
		text-align: center;
	}

	.sports-container {
		width: 100%;
	}

	.sports-container .para-class {
		width: 70%;
	}

	.sports-container .image-row1 {
		width: 70%;
		margin-left: auto;
		margin-right: auto;
	}

	.sports-container .image-row2 {
		width: 70%;
		margin-left: auto;
		margin-right: auto;
	}

	h2 {
		font-size: 22px;
	}

	h2:before,
	h2:after {
	    width: 5%;
	    margin: 3px;
	}

	h3 {
		font-size: 25px;
		margin-top: 50px;
	}

	h3:before,
	h3:after {
	    width: 8%;
	    margin: 3px ;

	}

	.tag-line hr {
		width: 120px;
	}

	.tag-line {
		font-size: 26px;
		/*padding-top: 250px;*/
		margin-left: 30px;
	}

	.logo-image img{
		width: 140px;
		margin-left: 30px;
	}

	.navbar-right-bg {
		background:#f5f5f5;
	}

	.para-class {
		font-size: 14px;
	}
}

@media (max-width: 500px) {
	.image-row1 img{
		margin-bottom: 0;
		width: 50%; 
		margin-top: 0;
	}

	.image-row2 img{
		width: 50%; 
		margin-bottom: 0;
	}

	.image-row3 img{
		margin-bottom: 0;
		width: 50%; 
		margin-top: 0;
	}

	.image-row4 img{
		width: 50%; 
		margin-bottom: 0;
	}

	h2 {
		margin-bottom: 50px;
	}	

	.para-class {
		margin-bottom: 30px;
	}
}

@media (max-width: 957px) {
	.contact-section {
		text-align: center;
	}

	.right-container {
		margin-bottom: 30px;
	}

	.contact-section > ul > li {
		display: block;
	}
}

@media (max-width: 768px) {
	.fixed {
		position: fixed; 
		top: 0; 
		height: 70px; 
		z-index: 1;
		width: 100%;
	}

	.fixed .logo-image img {
	    width: 120px;
	    margin-top: 5px; 
	    margin-left: 25px;
	    margin-bottom: 5px; 
	}

	.fixed .navbar-nav>li>a {
		margin: 20px 0;
	}

	.fixed .container-fluid{
		background: #a56704;
		border-radius: 0;
		border: 0;
	}

	.fixed .navbar-toggle {
		margin-top: 10px;
		margin-right: 25px;
		margin-bottom: 10px;
		padding-top: 10px;

	}
}		

@media screen and (min-width: 320px) and (max-width:384px ) {

	.background-image1{
		background: url('../ResSports/lumia.jpg') no-repeat;
  	}

    
}




@media screen and (min-width: 412px) and (max-width:480px ) {

	.background-image1{
		background: url('../ResSports/note4.jpg') no-repeat;
  	}

    
}

@media screen and (min-width:500px) and (max-width:800px ) {

	.background-image1{
		background: url('../ResSports/galaxytab.jpg') no-repeat;
  	}
}   



/*css added by dipesh*/
	.item div{
		width: 175px !important;
		height: 170px !important;
		background-color: #fff;
		overflow: hidden;
	}

	.item div img{
		width: 100%;
		height: 100%;
	}

	#myGallery img:hover{
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
	}
	.mt-8{
		margin-top: 8px;
	}

	.mb-10{
		margin-bottom: 10px;
	}

	.item1 div{
		width: 175px ;
		height: 170px ;
		background-color: #fff;
		/*overflow: hidden;*/
	}

	.item1 div img{
		width: 100%;
		height: 100%;
	}


/*css added by dipesh*/