* {
	margin: 0;
	padding: 0;
}

.fixed {
	position: fixed; 
	top: 0; 
	height: 70px; 
	z-index: 100;
	width: 100%;
}

.fixed .logo-image img {
    width: 120px;
    margin-top: 0px; 
    margin-left: 70px;
}

.fixed .navbar-nav>li>a {
	margin: 20px 0;
}

.fixed .container{
	background: #a56704;
	border-radius: 0;
	border: 0;
}

.container {
	min-width: 100%;
	width: auto;
	padding: 0;
	padding-top: 20px;
}

.navbar-dark .navbar-toggler {
    border: 2px solid white;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
	border: 0;
	padding: 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: #f5f5f5;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #a56704;
    background-color: #f5f5f5;
    border-radius: 30px;
}

.bg-dark {
	background: transparent!important;
}

.logo-image img{
	width: 170px;
	margin-top: 20px;
	margin-left: 60px;
}

.navbar-nav {
   	margin-right: 60px; 
}

.navbar-nav>li{
    padding-right: 30px;	
}

.navbar-nav>li>a {
	font-family: 'Open Sans', sans-serif;
	padding-right: 15px;
	font-size: 14px;
}

.navbar .navbar-nav>li>a {
    color: #f5f5f5;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}

.navbar .navbar-nav>li>a:hover {
    color: #a56704;
    border-radius: 30px;
    background-color: #fff;
    font-size: 14px;
}

.navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
}

.container > .navbar-header {
	margin-left: 0;
	margin-right: 0;
}

button {
	margin-top: 20px;
	margin-right: 60px;
	margin-left: 60px;
	background-color: #fff;
}

.tag-line hr {
	border: 1px solid #fff;
	width: 160px;
	margin-left: 180px;
}

.tag-line {
	color: #fff;
	float: right;
	text-align: right;
	font-size: 30px;
	margin-right: 80px;
	font-family: 'Open Sans', sans-serif;
	position: absolute;
	right: 0;
	bottom: 80px;
}

#facilities-container {
	min-width: 70%;
	width: auto;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 90px;
}

h2 {
	text-align: center;
	font-size: 50px;
	text-transform: uppercase;
	color: #6c4301;
	font-family: 'Montserrat', sans-serif;
}

h2:before,
h2:after {
	background-color: #a56704;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 15%;
    margin: 30px;
}

.para-class1 {
	width: 80%;
	text-align: center;
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
	color: #a56704;
	font-family: 'Open Sans', sans-serif;
} 

.para-class2 {
	width: 80%;
	text-align: center;
	font-size: 14px;
	padding-top: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
	color: #a56704;
	font-family: 'Open Sans', sans-serif;
}


.flex-container {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
    justify-content: center;
	width: 754px;
	height: 250px;
	margin-right: auto;
	margin-left: auto;
}

.flex-item {
	width: 140px;
	height: 140px;
	margin: 20px;
	border: 2px solid #a56704;
	border-radius: 50%;
	color: #a56704;
	text-align: center;
}

.flex-item p {
	margin-top: 50px;
	color: #a56704;
}

.flex-item:hover {
	background-color: #6c4301;
	color: #6c4301;
	font-weight: bold;
}

.image1 {
	width: 100px;
	height: 100px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/Sports&fitnessCaramel.png);
	background-size: cover;
}

.image1:hover {
	font-weight: bold;
	background-image: url(../images/Sports&fitnessWhite.png);
}

.image2 {
	width: 80px;
	height: 80px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/Dining-Caramel.png);
	background-size: cover;
}

.image2:hover {
	font-weight: bold;
	background-image: url(../images/Dining-white.png);
}

.image3 {
	width: 80px;
	height: 80px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/WelnessCaramel.png);
	background-size: cover;
}

.image3:hover {
	font-weight: bold;
	background-image: url(../images/WelnessWhite.png);
}

.image4 {
	width: 80px;
	height: 80px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/Accommodation-Caramel.png);
	background-size: cover;
}

.image4:hover {
	font-weight: bold;
	background-image: url(../images/Accommodation-White.png);
}


/*.xyz {	
  padding: 10px;
  border: 2px solid #a56704;
}

.xyz:hover {
  background-color: #634c01;
}*/

/*.flex-container {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
    justify-content: center;
    width: 100px;
    height: 100px;
	width: 760px;
	height: 250px;
	margin-right: auto;
	margin-left: auto;
}

.flex-item1 {
	border-radius: 50%;
	border: 2px solid #a56704;
	width: 100px;
	height: 100px;
	margin: 20px;
	font-weight: bold;
	background-image: url(../images/Sports&fitnessCaramel.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.flex-item1 p {
	margin-top: 150px;
	color: #a56704;
	text-align: center;
}

.flex-item1:hover {
	width: 140px;
	height: 140px;
	background-color: #6c4301;
	font-weight: bold;
	background-image: url(../images/Sports&fitnessWhite.png);
	background-repeat: no-repeat;
}

.flex-item2 {
	border-radius: 50%;
	border: 2px solid #a56704;
	width: 140px;
	height: 140px;
	font-weight: bold;
	margin: 20px;
	background-image: url(../images/Dining-Caramel.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.flex-item2 p {
	margin-top: 150px;
	color: #a56704;
	text-align: center;
}

.flex-item2:hover {
	width: 140px;
	height: 140px;
	background-color: #6c4301;
	font-weight: bold;
	background-image: url(../images/Dining-white.png);
	background-repeat: no-repeat;
}

.flex-item3 {
	border-radius: 50%;
	border: 2px solid #a56704;
	width: 140px;
	height: 140px;
	font-weight: bold;
	margin: 20px;
	background-image: url(../images/WelnessCaramel.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.flex-item3 p {
	margin-top: 150px;
	color: #a56704;
	text-align: center;
}

.flex-item3:hover {
	width: 140px;
	height: 140px;
	background-color: #6c4301;
	font-weight: bold;
	background-image: url(../images/WelnessWhite.png);
	background-repeat: no-repeat;
}

.flex-item4 {
	border-radius: 50%;
	border: 2px solid #a56704;
	width: 140px;
	height: 140px;
	font-weight: bold;
	margin: 20px;
	background-image: url(../images/Accommodation-Caramel.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.flex-item4 p {
	margin-top: 150px;
	color: #a56704;
	text-align: center;
}

.flex-item4:hover {
	width: 140px;
	height: 140px;
	background-color: #6c4301;
	font-weight: bold;
	background-image: url(../images/Accommodation-White.png);
	background-repeat: no-repeat;
}*/
/*.image2 {
	width: 80px;
	height: 80px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: auto;
	margin-left: auto;
	background-size: cover;
}

.image2:hover {
	font-weight: bold;
}

.image3 {
	width: 80px;
	height: 80px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: auto;
	margin-left: auto;
	background-size: cover;
}

.image3:hover {
	font-weight: bold;
}

.image4 {
	width: 80px;
	height: 80px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: auto;
	margin-left: auto;
	background-size: cover;
}

.image4:hover {
	font-weight: bold;
}*/

.club-container {
	min-width: 70%;
	width: auto;
}

.image-class {
	width: 70%;
	margin: 0;
	margin-right: auto;
	margin-left: auto;
}

.image-container img {
	width: 250px;
	height: 380px; 
	margin-left: 90px;
	border: 2px solid #8D4A66;

}

.end-tagline {
	margin-top: 80px;
}

.content-container hr {
	width: 40%;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #eee;
}

.end-tagline p {
	font-size: 17px;
	text-align: center;
	margin-bottom: 50px;
	margin-top: 30px;
	color: #8D4A66;
}

h1 {
	text-align: center;
	font-size: 40px;
	text-transform: uppercase;
	margin-top: 70px;
	color: #a56704;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 100px;
}

h1:before,
h1:after {
	background-color: #a56704;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 10%;
    margin: 30px;
}

.button-div{
    text-align: center;
}

div > .button-class {
	background-color: #8D4A66;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 50px;
	margin-bottom: 20px;
}

div > .button-class:hover {
	color: #fff;
}

.button-class {
	font-size: 16px;
	margin-left: auto;
	margin-right: auto;
	padding: 3px 12px;
}

.end-container {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	margin-top: 80px;
	margin-bottom: 20px;
}

.end-rowClass {
	margin: 0;
}

.left-container {
	padding: 0;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;
}

#social-accounts img {
	width: 38px;
	margin: 2px;
}

.right-container {
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

.contact-section > ul > li {
	list-style: none;
	display: inline;
	padding-right: 10px;
	font-size: 15px;
}

.contact-section > ul > li > a {
	color: #6c4301;
}

.contact-section {
	text-align: center;
}

.badge-container {
	margin: 0;
}

.tripadvisor-badge {
	margin-top: 50px;
	margin-left: 50px;
}

.badge-row img{
	display: inline;
}

.base-container {
	background-color: #eee;
}

.base-para {
	width: 70%;
	color: grey;
	margin-right: auto;
	margin-left: auto;
	padding: 15px 0;
	font-family: 'Open Sans', sans-serif;
}

.base-para > a {
	color: grey;
}

@media (min-width: 768px) and (max-width: 991px) {
	.navbar-nav>li {
	    padding-right: 0;
	}

	.ml-auto {
		width: 100%;
	}

	.navbar-collapse {
		background-color: #a56704;
	}

	.navbar .navbar-nav>li>a {
	    font-size: 14px;
	    padding: 10px;
	}

	.navbar-dark .navbar-nav .nav-link:hover {
	    border-radius: 0px;
	}

	.navbar .navbar-nav>li>a:hover {
	    font-size: 14px;
	}

	.tag-line {
		font-size: 32px;
	}

	.left-container {
		text-align: center;
		font-size: 15px;
	}

	.tripadvisor-badge {
		margin-left: 100px;
		margin-top: 50px;
	}

	.endtag-line {
		font-size: 28px;
	}

	.tag-line {
		margin-right: 80px;
		font-size: 30px;
	}

	.tag-line hr {
		width: 160px;
	}

}

@media (max-width: 767px) {
	h1 {
		font-size: 25px;
	}

	h1:before,
	h1:after {
	    width: 6%;
	    margin: 8px;
	}

	.navbar-nav>li {
	    padding-right: 0;
	}

	.navbar-collapse {
		background-color: #a56704;
	}

	.navbar .navbar-nav>li>a {
	    font-size: 14px;
	    padding: 10px;
	}

	.navbar-dark .navbar-nav .nav-link:hover {
	    border-radius: 0px;
	}

	.navbar .navbar-nav>li>a:hover {
	    font-size: 14px;
	}

	.left-container {
		padding: 0;
		font-size: 14px;
		font-family: 'Open Sans', sans-serif;
		margin-bottom: 30px;
		text-align: center;
	}

	.logo-image img{
		width: 140px;
		margin-left: 15px;
	}

	.para-class {
		font-size: 14px;
	} 

	button {
		margin-right: 15px;
		margin-bottom: 5px;
	}

	.para-class2 {
		margin-bottom: 50px;
	}
}

@media (min-width: 566px) and (max-width: 767px) {
	.endtag-line {
		font-size: 23px;
	}

	.tag-line {
		margin-right: 40px;
		font-size: 30px;
	}

	.tag-line hr {
		width: 160px;
	}
}

@media (max-width: 565px) {
	.endtag-line {
		font-size: 23px;
	}

	.tag-line {
		margin-right: 20px;
		font-size: 25px;
	}

	.tag-line hr {
		width: 160px;
	}
}

@media (max-width: 500px) {
	.flex-container {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
	    flex-wrap: wrap;
		width: 300px;
		height: 300px;
		margin-right: auto;
		margin-left: auto;
	}

	.flex-item {
		width: 100px;
		height: 100px;
	}

	.para-class1 {
		margin-bottom: 50px;
	}

	.image1 {
		width: 60px;
		height: 60px;
		margin-bottom: 0px;
	}

	.flex-item p {
		margin-top: 45px;
	}

	.image2 {
		width: 40px;
		height: 40px;
	}

	.image3 {
		width: 40px;
		height: 40px;
	}

	.image4 {
		width: 40px;
		height: 40px;
	}

	h2 {
		margin-bottom: 50px;
		font-size: 32px;
	}

	h2:before,
	h2:after {
	    width: 11%;
	    margin: 15px;
	}
}		

@media (min-width: 501px) and (max-width: 768px) {
	.flex-container {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
	    flex-wrap: wrap;
		width: 400px;
		height: 400px;
	}

	.flex-item {
		width: 140px;
		height: 140px;
	}

	h2 {
		font-size: 35px;
	}

	h2:before,
	h2:after {
	    width: 11%;
	    margin: 25px;
	}
}

@media (max-width: 400px) {
	.endtag-line {
		font-size: 16px;
	}

	.button-class {
		font-size: 12px;
	}
}

@media (max-width: 957px) {
	.contact-section {
		text-align: center;
	}

	.right-container {
		margin-bottom: 30px;
	}

	.contact-section > ul > li {
		display: block;
	}
}

@media (max-width: 768px){
	.fixed {
		position: fixed; 
		top: 0; 
		height: 70px; 
		z-index: 1;
		width: 100%;
	}

	.fixed .logo-image img {
	    width: 120px;
	    margin-top: 5px; 
	    margin-left: 25px;
	    margin-bottom: 5px; 
	}

	.fixed .navbar-nav>li>a {
		margin: 20px 0;
	}

	.fixed .container-fluid{
		background: #a56704;
		border-radius: 0;
		border: 0;
	}

	.fixed .navbar-toggle {
		margin-top: 10px;
		margin-right: 25px;
		margin-bottom: 10px;
		padding-top: 10px;

	}
}