* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

.background-image1 {
    background: url(../images/abdullah-oguk-256739.jpg) no-repeat; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    min-height: 100vh;
} 

.top-navbar {
	background: transparent;
	border: 0;
}

.logo-image img{
	width: 170px;
	margin-top: 45px;
	margin-left: 70px;
}

.top-nav {
   	margin-right: 70px;
   	font-family: 'Open Sans', sans-serif; 
}

.top-nav>li{
    padding-right: 30px;	
}

.top-nav>li>a {
	margin: 70px 0;
	padding-right: 15px;
	font-size: 14px;
}

.top-navbar .top-nav>li>a {
    color: white;
    font-size: 14px;
    line-height: 20px;
}

.top-navbar .top-nav>li>a:hover {
    color: #6c4301;
    border-radius: 30px;
    background-color: #fff;
    font-size: 14px;
}

.top-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
}

.top-navbar {
	margin-bottom: 0;
}

.container > .navbar-header {
	margin-left: 0;
	margin-right: 0;
}

.navbar-toggle {
	margin-top: 55px;
	margin-right: 40px;
	background-color: #fff;
}

.thankyou-note p{
	text-align: center;
	color: #fff;
	margin-top: 80px;
	font-size: 16px;
}

div > .button_class {
	background-color: #fff;
	color: #6c4301;
	border-radius: 30px;
	font-size: 14px;
	padding: 5px 25px;
	margin-top: 30px;
}

.button-div{
    text-align: center;
}

.button-div a {
    color: #6c4301;
}

div > .button_class:hover {
	color: #6c4301;
}

@media (min-width:779px) and (max-width: 992px) {
	.top-nav>li {
	    padding-right: 0;
	}

	.top-navbar .top-nav>li>a {
	    font-size: 11px;
	}

	.top-navbar .top-nav>li>a:hover {
	    font-size: 11px;
	}
}

@media (max-width:768px) {
	.top-navbar .top-nav>li>a {
	    color: white;
	    line-height: 0;
	}

	.top-nav>li>a {
	    margin: 40px 0;
	}

	.navbar-collapse .top-nav {
		background-color: #f5f5f5;
		margin: 0;
	}

	.top-navbar .top-nav>li>a {
	    color: #a56704;
	}

	.top-navbar .top-nav>li>a:hover {
	    background-color: #a56704;
	    color: #f5f5f5;
	    border-radius: 0;
	}

	.top-nav>li>a {
	    padding-top: 10px;
	    padding-bottom: 10px;
	}

	.logo-image img{
		width: 140px;
		margin-left: 30px;
	}

	.navbar-toggle {
		margin-right: 30px;
		margin-top: 50px;
	}

	.thankyou-note p{
		margin-top: 120px;
		font-size: 15px;
	}
}

@media (max-width:600px) {
	.thankyou-note p{
		margin-top: 80px;
	}
}

@media (max-width: 768px) {
	.navbar-right-bg {
		background:#f5f5f5;
	}
}			